.calendar-day {
  flex-grow: 1;
  flex-basis: 0;
  border-left: 1px solid black;
  overflow: auto;
  height: 150px;
}

.calendar-day:last-child {
  border-right: 1px solid black;
}

.calendar-day-grey {
  background-color: #f1f3f4;
  opacity: 0.5;
}

.calendar-day__title_highlighted {
  font-weight: bold;
  background: rgba(161, 68, 255, 0.17);
  padding: 3px;
  border-radius: 10px;
}

/* .calendar-day__title_highlighted::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
	  right: 0;
    bottom: 0;
    background: blue;
    z-index: -1;
} */

